.object-sale_header {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 696px;
  }

  @media (min-width: $desktop-small-width) {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-between;
  }
}

.object-sale_title {
  padding: 0;
  margin: 0;
  line-height: 100%;
  font-size: 16px;
  font-weight: 700;

  @media (min-width: $desktop-small-width) {
    font-size: 30px;
  }
}

.object-sale_stickers-wrapper {
  display: none;
  &--mobile {
    display: flex;
    height: 33px;
  }

  @media (min-width: $desktop-small-width) {
    display: flex;
    height: 33px;
    align-items: center;
    &--mobile {
      display: none;
    }
  }
}

.object-sale_stickers-icon {
  width: 24px;
  height: 24px;

  @media (min-width: $desktop-small-width) {
    width: 30px;
    height: 30px;
  }
}

.object-sale_stickers-item {
  display: block;
  padding: 9px 12px;
  margin-right: 24px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;

  @media (min-width: $desktop-small-width) {
    font-size: 14px;
  }
}

.object-sale_container {
  display: flex;
  height: 46px;
  width: 100%;
  margin-top: 16px;
  justify-content: space-between;
  order: 1;

  @media (min-width: $tablet-width) {
    width: 696px;
    order: unset;
  }

  @media (min-width: $desktop-small-width) {
    width: 100%;
    height: 36px;
    margin-top: 0;
  }
}

.object-sale_wrapper {
  display: grid;

  @media (min-width: $desktop-small-width) {
    grid-template-columns: 575px 805px;
    column-gap: 36px;
    grid-template-rows: 36px max-content max-content max-content;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 730px 1118px;
    column-gap: 48px;
  }
}

.object-sale_price-wrapper {
  display: grid;
  height: 46px;
  align-content: space-between;

  @media (min-width: $desktop-small-width) {
    display: flex;
    height: 36px;
    align-items: end;
  }
}

.object-sale_price-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;

  @media (min-width: $desktop-small-width) {
    font-size: 36px;
  }
}

.object-sale_price-subtitle {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;

  @media (min-width: $desktop-small-width) {
    margin-left: 16px;
  }
}

.price_sup {
  margin-bottom: 8px;
  font-size: 8px;
  font-weight: 900;
}

.object-sale_picture {
  position: relative;
  display: none;
  line-height: 0;
  grid-row: span 2;
  margin-top: 24px;
  order: 2;
  &--active {
    display: block;
  }

  @media (min-width: $desktop-small-width) {
    margin-top: 0;
    order: unset;
  }
}

// .object-sale_picture {
//   grid-row: span 2;
//   margin-top: 24px;
//   order: 2;
//   border-radius: 16px;

//   @media (min-width: $desktop-small-width) {
//     margin-top: 0;
//     order: unset;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1118px;
//     max-width: 1118px;
//     height: 530px;
//   }
// }

.object-sale_img {
  width: 100%;
  min-height: 250px;
  border-radius: 16px;
  object-fit: cover;
  aspect-ratio: 361/250;

  @media (min-width: $tablet-width) {
    width: 696px;
  }

  @media (min-width: $desktop-small-width) {
    width: 805px;
    max-width: 805px;
    height: 530px;
  }

  @media (min-width: $desktop-width) {
    width: 1118px;
    max-width: 1118px;
    //height: 606px;
  }
}

.object-sale_water {
  position: absolute;
  top: 0;
  left: 0;
}

.object-sale_features {
  margin-top: 12px;
  order: 4;

  @media (min-width: $desktop-small-width) {
    margin-top: 24px;
    order: unset;
  }

  @media (min-width: $desktop-width) {
    //margin-top: 40px;
  }
}

.object-sale_finance {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(44, 46, 53, 0.12);

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-small-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 22px;
  }
}

.object-sale_finance-block {
  width: 50%;
  padding-bottom: 16px;

  @media (min-width: $mobile-max-width) {
    width: 199px;
  }

  @media (min-width: $desktop-small-width) {
    width: inherit;
    padding-bottom: 0;
  }
}

.finance-block_subtitle,
.features-features_subtitle {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
}

.finance-block_title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.object-sale_features-features {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-small-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    //margin-top: 50px;
  }
}

.features-features_block {
  display: flex;
  width: 50%;
  height: 32px;
  align-items: center;

  @media (min-width: $mobile-max-width) {
    width: 199px;
  }

  @media (min-width: $desktop-small-width) {
    width: inherit;
  }
}

.features-features_block-wrapper {
  display: grid;
  height: 32px;
  margin-left: 12px;
  align-content: space-between;
}

.features-features_title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.features-features_icon {
  width: 24px;
  height: 24px;
}

.object-sale_bunners {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  margin-top: 24px;
}

.bunners-item {
  display: flex;
  height: 30px;
  margin-right: 9px;
  margin-bottom: 8px;
  align-items: center;
  border: 1px solid $blue2;
  border-radius: 24px;
  background-color: rgba(75, 152, 255, 0.16);
  &:nth-last-child(1) {
    margin-right: 0;
  }

  @media (min-width: $desktop-small-width) {
    height: 34px;
    margin-right: 24px;
    margin-bottom: 12px;
  }
}

.bunners-item_icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.bunners-item_title {
  margin: 0;
  margin-left: 3px;
  margin-right: 12px;
  color: $blue1;
  font-size: 10px;
  font-weight: 500;

  @media (min-width: $desktop-small-width) {
    margin-right: 16px;
    font-size: 12px;
  }
}

.object-sale_recall {
  height: 275px;
  margin-top: 12px;
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(75, 152, 255, 0.16);

  @media (min-width: $desktop-small-width) {
    height: 163px;
    margin-top: 24px;
  }
}

.object-sale-recall_title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.object-sale-recall_input-wrapper {
  display: block;
  margin-top: 24px;

  @media (min-width: $desktop-small-width) {
    display: flex;
    height: 48px;
    justify-content: space-between;
  }
}

.object-sale-recall_input {
  width: calc(100% - 24px);
  height: 16px;
  padding: 16px 12px;
  margin-bottom: 16px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  color: $dark;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;

  @media (min-width: $desktop-small-width) {
    width: 44%;
  }
}

.object-sale-recall_button {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: $blue1;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;

  @media (min-width: $desktop-small-width) {
    display: block;
    width: unset;
    height: unset;
    margin-top: 24px;
    padding: 16px 36px;
  }
}

.object-sale_description {
  margin-top: 24px;
  order: 4;

  @media (min-width: $desktop-small-width) {
    grid-row: span 2;
    order: unset;
  }
}

.description_address-title,
.description_description-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $desktop-small-width) {
    font-size: 20px;
  }
}


.description_description-title {
  margin-top: 24px;

  @media (min-width: $desktop-small-width) {
    margin-top: 36px;
  }
}

.description_address-address,
.description_address-district,
.description_description-text {
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;

  @media (min-width: $desktop-small-width) {
    font-size: 18px;
  }
}

.description_description-text {
  white-space: pre-line;
}

.object-sale_photos-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 8px;
  height: max-content;
  margin-top: 12px;
  order: 3;

  @media (min-width: $desktop-small-width) {
    margin-top: 16px;
    column-gap: 12px;
    order: unset;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.photos_picture {
  line-height: 0;
  border-radius: 8px;
  cursor: pointer;
}

.photos_img {
  width: 100%;
  height: 58px;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 8px;

  @media (min-width: $desktop-small-width) {
    width: 148px;
    height: 86px;
    margin-bottom: 12px;
  }
}

.object-sale-map {
  position: relative;
  margin-top: 24px;
  border-radius: 16px;
  order: 5;

  @media (min-width: $desktop-small-width) {
    margin-top: 12px;
    order: unset;
  }
}

.object-sale_map-img {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  border-radius: 16px;

  @media (min-width: $desktop-small-width) {
    width: 805px;
    height: max-content;
    //min-height: 372px;
    max-height: 509px;
  }

  @media (min-width: $desktop-width) {
    width: 1118px;
  }
}
