/* Colors */
$dark: #2C2E35;
$blue1: #0A64DD;
$blue2: #4B98FF;
$green: #19A353;
$pink: #C96CB4;
$gray1: #F4F5F6;
$gray2: #EAEEF4;
$yellow: #FFC61B;

/* Breakpoints */
$mobile-width: 394px;
$tablet-width: 720px;
$mobile-width-only: 719px;
$desktop-small-width: 1440px;
$desktop-width: 1920px;

/* GLOBAL */
